* { font-family: monospace; background-color:black;}

.header3 { border: 5px solid white; border-radius: 100px;
           width:688px; height: 360px; margin: 50px auto;
           background-image: url(../map/img4.jpeg);
           background-size: cover }

/* Navigasi */
.nav { text-align: center; word-spacing: 10px}
li { display: inline-flex;
     border-radius:10px; }
     
.download-3 { color: black; 
              padding: 10px 15px;
              border: 1px solid white; border-radius: 10px;
              font-weight: bold;
              text-decoration:none }
.nav-item3 { color: black;  background-color:lightskyblue; 
             padding: 10px 15px;
             border: 1px solid white; border-radius: 10px;
             font-weight: bold;
             text-decoration:none }
.nav-item3:hover { color:white; background-color: rgb(42, 42, 146) }
.nav-item3:active { padding: 9px 14px; color:white; background-color: rgb(16, 34, 100) }

.download-3:hover { box-shadow: 0 0 5px lightskyblue, 0 0 10px lightskyblue, 0 0 20px blue }
.download-3:active { background-color: lightslategray; background-blend-mode: multiply;}
.download1-3 { background-image: url(../map/logo1.jpeg); background-size: 36px; 
               background-repeat: no-repeat; background-color: white;
               padding-left: 45px;}
.download2-3 { background-image: url(../map/logo2.jpeg); background-size: 45px; 
               background-repeat: no-repeat; background-color: white; background-position-y:25%;
               padding-left: 45px;}

/* Rods */
.rods { color:white;
        text-align: center;
        margin: 10px auto;
        border-spacing: 10px }
tr, td { border-radius: 10px; }
th { background-color:  rgb(64, 104, 177);
     padding: 10px 30px; border-radius: 10px; }

.noo { width:2px}
.no { font-weight: bold ;}

.r { background-color: white; border-radius: 25px }
.r1 { background-color: rgb(117, 108, 53); border: 5px solid  rgb(44, 40, 16)  }
.r2 { background-color: gray; border: 5px solid rgb(66, 66, 66)}
.r3 { background-color: rgb(138, 36, 138); border: 5px solid rgb(66, 8, 66)}
.r4 { background-color: rgb(43, 40, 40); border: 5px solid rgb(20, 20, 20) }
.r5 { background-color: rgb(26, 116, 26); border: 5px solid rgb(16, 56, 16) }
.r6 { background-color: rgb(197, 169, 7); border: 5px solid rgb(108, 109, 54) }

.rodd { width: 90px }
.rod { width: 60px; height: 60px; margin: 10px auto;
       background-blend-mode: multiply; background-color: white; }
.rod1 { background-image: url(../rod/Wooden_rod.webp);
        background-repeat: no-repeat; background-size: cover }
.rod2 { background-image: url(../rod/Fiberglass_rod.webp);
        background-repeat: no-repeat; background-size: cover }
.rod3 { background-image: url(../rod/Carbon_rod.webp);
        background-repeat: no-repeat; background-size: cover }
.rod4 { background-image: url(../rod/Monster_hunter_rod.webp);
        background-repeat: no-repeat; background-size: cover }
.rod5 { background-image: url(../rod/Garbage_grabber_rod.webp);
        background-repeat: no-repeat; background-size: cover }
.rod6 { background-image: url(../rod/Slowmo_rod.webp);
        background-repeat: no-repeat; background-size: cover }

.namee { width: 150px }
.name { font-family: 'Trebuchet MS'; font-style: italic;}

.price { background-image: url(../map/coin2.jpeg); background-size: 30px;
         background-repeat: no-repeat; background-position: left; background-position-x: 20px;
         background-blend-mode: multiply;
         padding-left: 60px; padding-right: 20px }
.price6 { background-image: url(../map/gem.jpeg); background-size: 30px;
         background-repeat: no-repeat; background-position: left; background-position-x: 21px;
         background-blend-mode: multiply;
         padding-left: 50px; padding-right: 20px }
     
.row1:hover td { box-shadow: 0 0 5px rgb(58, 136, 58), 0 0 8px darkgreen }
.row2:hover td { box-shadow: 0 0 5px rgb(204, 186, 186), 0 0 6px whitesmoke }
.row3:hover td { box-shadow: 0 0 5px rgb(0, 124, 240), 0 0 6px mediumaquamarine }
.row4:hover td { box-shadow: 0 0 5px rgb(148, 41, 50), 0 0 6px maroon }
.row5:hover td { box-shadow: 0 0 5px rgb(206, 209, 45), 0 0 6px greenyellow }
.row6:hover td { box-shadow: 0 0 5px rgb(155, 127, 71), 0 0 7px orangered }